* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.canvas-container {
    position: relative;
}

.side-bar {
    position: absolute;
    z-index: 1;
    background: ghostwhite;
    border: 1px solid gray;
    width: 215px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(2em, max-content);
}

#side-bar-input {
    grid-column-start: 1;
    grid-column-end: 4;
}

#side-bar-step {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.new-tree-title {
    grid-column-start: 1;
    grid-column-end: 5;
    border-top: 1px solid gray;
    text-align: center;
    background: rgb(224, 224, 224); /* darker than ghostwhite */
    margin-top: 10px;
}

.new-tree-plus-minus {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 0.5fr;
}

#new-tree-create {
    grid-column-start: 2;
    grid-column-end: 4;
}

#new-tree-input {
    width: 90%;
    grid-column-start: 4;
    grid-column-end: 5;
}

#side-bar-file-drop {
    grid-column-start: 1;
    grid-column-end: 5;
    height: 6em;
    margin: 1em;
    border: 2px dashed gray;
    background: whitesmoke;
    color: gray;
    text-align: center;
    vertical-align: middle;
    line-height: 6em; /* vertical centering of text */
}

#side-bar-center-view {
    grid-column-start: 1;
    grid-column-end: 5;
}

.main-canvas-container {
    position: absolute;
}

.side-canvas-container {
    grid-column-start: 1;
    grid-column-end: 5;
}

#mainCanvasElement {
    outline: none;
}

#sideCanvasElement {
    outline: none;
}
